@import "./variable";

/* éléments généraux de la page */
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
    width: 100%;
    // margin: auto;
    h2 {
        font-size: 18px;
        margin-top: 0;
    }
}

/***** header *****/
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    #logo {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 1.5625rem;
    }
}

/***** main *****/
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
}

/***** aside *****/
aside {
    display: flex;
    flex-direction: column;
}
/* div input-group */
.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-bottom: 1.5625rem;
    border-radius: 0.3125rem;
    background-color: $primarycolor;
    input.form-control {
        width: 100%;
        padding: 0.8rem;
        background: none;
        border: none;
        font-size: inherit;
    }
    label.form-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
         background: $primarycolor;
         i.fa.fa-search {
            font-size: x-large;
        }
    }
}
#suggestions {
    margin-bottom: 1.5625rem;
}
/* éléments généraux search-filters */
.search-filters {
    display: flex;
    margin-bottom: 1.5625rem;
    gap: 1.25rem;
}
/** éléments généraux filterbox **/
.filterbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $tertiarycolor;
    width: 9.625rem;
    height: 4.3125rem;
    border-radius: 0.3125rem;
    padding: 0 0.9375rem;
    label {
        font-weight: 700;
    }
    input {
        position: absolute;
        width: 80%;
        background: none;
        border: none;
        display: none;
    }
    button {
        background: none;
        border: none;
        color: $tertiarycolor;
        font-size: medium;
    }
    ul#ingredients-list {
        background-color: $primarybackground;
        
    }
    ul#appliances-list {
        background-color: $secondarybackground;
    }
    ul#ustensils-list {
        background-color: $tertiarybackground;
    }
}
.box-primary {
    background-color: $primarybackground;
}
.box-secondary {
    background-color: $secondarybackground
}
.box-tertiary {
    background-color: $tertiarybackground;
}
.filterbox-results {
    display: none;
    position: absolute;
    overflow: scroll;
    max-height: 40%;
    font-weight: 700;
    padding: 0; 
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 208px;
        height: 21px;
    }
}
    
/***** section *****/
section {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between; 
}
article {
    display: flex;
    flex-flow: wrap;
    width: 414px;
    height: auto;
    margin-bottom: 1.5625rem;
}
.card-picture {
    width: 100%;
    height: 178px;
    background: $secondarycolor;
    border-radius: 5px 5px 0px 0px;
}
.card-body {
    width: 100%;
    height: 151px;
    display: flex;
    flex-direction: column;
    background: $primarycolor;
    padding: 17px;
    border-radius: 0px 0px 5px 5px;
    .card-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .fa-clock {
            font-weight: normal;
            font-size: larger;
            &:before {
                margin-right: 3px;
            }
        }
    }
    .card-container {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        ul {
            width: 50%;
            list-style-type: none;
            font-size: 13px;
            line-height: 14px;
            padding: 0;
            margin: 0;
            li span {
                font-weight: bold;
            }
        }
        p {
            width: 50%;
            font-weight: bold;
            font-size: 13px;
            line-height: 14px;
            padding-left: 15px;
            margin: 0;
        }
    }
}
